<!doctype html>
<html>
<head>
	<title>Don Yoo</title>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
<h2>Welcome to CS602 HW2 - Don Yoo!</h2>
		<a href="/">Home</a>|
		<a href="/addEmployee">addEmployee</a> |
<hr/>

	{{{body}}}

</body>
</html>

