	<b>Employees with Id {{id}}</b>
<hr/>
	<table border='1'>
	<tr>
	 <td valign="top">
	  <label for="id">Id</label>
	 </td>
	 <td valign="top">
	  <label for="Fname">First Name</label>
	 </td>
     <td valign="top">
	  <label for="Lname">Last Name</label>
	 </td>
  </tr>
    <tr>
	 <td valign="top">
	  <p>{{id}}</p>
	 </td>
	 <td valign="top">
	  <p>{{Fname}}</p>
	 </td>
	 <td valign="top">
	  <p>{{Lname}}</p>
	 </td>
  </tr>  
 </table>